@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

body {
  font-family: 'Hanna', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

.magenta {
  color: #ff0066;
}

.site-header {
  padding: 30px;
  border-bottom: solid 1px #ccc;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo,
.language-select {
  display: block;
  width: 80px;
}

.language-select {
  text-align: right;
}

.menu {
  padding-left: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

.menu-item {
  margin-left: 15px;
  margin-right: 15px;
  text-transform: lowercase;
}

.hero {
  padding-top: 160px;
  padding-bottom: 220px;
  padding-left: 30px;
  padding-right: 30px;

  background-image: url('../assets/intro-bg.svg');
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
}

.hero-inner {
}

.hero-text {
  font-size: 180px;
  line-height: 1;
  color: #ff0066;
  text-align: center;
}

.hero-sitename {
  color: #000;
}

.hero-description {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

/* Introduction */
.intro {
  background-image: url('../assets/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 310px;
  padding-bottom: 250px;
  padding-left: 20px;
  padding-right: 20px;
}

.intro-inner {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.20);
}

.intro-title {
  font-size: 20px;
  border-bottom: 3px solid #ffffff;
  padding-bottom: 1px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 48px;
}

.intro-description {
  font-size: 50px;
  margin: 0;
  line-height: 1.2;
}

.yellow {
  color: #f8e71c;
}

/* Menu items */
.entry-header {
  padding: 10px 20px;
  background-color: #ff0066;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entry-title,
.entry-price {
  font-size: 16px;
  color: #fff;
  margin: 0;
  line-height: 1;
  text-transform: lowercase;
}

.entry-price {

}

.post {
  position: relative;
  padding-top: 60px;
}

.entry-number {
  position: absolute;
  left: 50%;
  top: 0;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border: solid 20px #ff0064;
  transform: translateX(-50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff0064;
  z-index: 1;
}

.entry-title,
.entry-price {
  position: relative;
  z-index: 2;
}

.wp-post-image {
  max-width: 100%;
  width: auto !important;
  height: auto !important;
  display: block;
}

.post-thumbnail {
  display: block;
  pointer-events: none;
}

/* Menu */
.section-heading {
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  text-transform: lowercase;
  margin-bottom: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  grid-row-gap: 50px;
  grid-column-gap: 20px;
}

.location-description {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.location-description h3 {
  font-size: 12px;
  margin: 0;
}

.location-description p {
  margin-top: 0;
  margin-bottom: 20px;
}

.map-inner {
  position: relative;
  padding-bottom: 75%;
}

.map-inner iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}

.site-footer {
  padding: 50px 30px 20px 30px;
  border-top: solid 1px #ccc;
  font-size: 12px;
  font-family: sans-serif;
}

.site-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  display: flex;
}

.social-link,
.social-link img {
  display: block;
}

.social-link {
  margin-left: 5px;
}

.lowercase {
  text-transform: lowercase;
}

.intro-description p {
  margin: 0;
}

/* 1220px  wide grid
2x3 grid
20px space horizontally
50px space vertically */

@media (max-width: 1100px) {
  .entry-number {
    width: 60px;
    height: 60px;
    border-width: 15px;
  }

  .post {
    padding-top: 45px;
  }

  .hero {
    padding-top: 100px;
    padding-bottom: 160px;
  }

  .hero-text {
    font-size: 90px;
  }

  .intro {
    padding-top: 105px;
    padding-bottom: 125px;
  }

  .intro-title,
  .intro-description {
    font-size: 4vw;
  }
}

@media (max-width: 680px) {
  .site-header {
    padding: 20px;
  }

  .logo,
  .languge-select {
    widht: 50px;
  }

  .menu-item {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
  }

  .menu-item span {
    display: none;
  }

  .hero-text {
    font-size: 64px;
  }

  .hero-description {
    font-size: 16px;
  }

  .intro {
    padding-top: 85px;
    padding-bottom: 105px;
  }

  .intro-title {
    font-size: 21px;
    margin-bottom: 20px;
  }

  .intro-description {
    font-size: 36px;
  }

  .into-description br {
    display: none;
  }
}

@media (max-width: 480px) {

  .entry-number {
    width: 30px;
    height: 30px;
    border-width: 4px;
  }

  .post {
    padding-top: 19px;
  }

  .hero {
    padding-top: 60px;
    padding-bottom: 120px;
  }

  .hero-description {
    bottom: 20px;
  }

  .intro-description {
    font-size: 30px;
  }
}
